.social{
    margin: 5px; 
    font-size: 25px; 
    color: white;
    text-decoration: none;
}

.social :hover{
    text-decoration: none;
    color: #fff;
}

.copyright{
    color: #fff;
    margin-top: 20px;
}

.footer{
    margin-top: 100px;
    padding: 10px;
}
